/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #FFFBF5;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}



p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  padding: 0px;
  margin: 3px 0px;
}

input{
  outline: none;
  border: none;
}

.add-more-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.add-more-container> :last-child{
  margin-left: 8px;
}

.add-more-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.add-more-button> :last-child{
  margin-left: 7px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color:#190041;
  text-decoration: underline;
  text-underline-offset: 3px
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.input-container{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;  
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;

}

.input{
  background-color: transparent;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.card-container{
  background-color: #FDF4E6;
  border: 1px solid #190041;
  border-radius: 6px;
  width: 100%;
  height: 177px;
}

.card-inner-container{
  margin: 10px;
  display:flex;
  flex-direction: column; 
}

.card-status{
  width: 39.78px;
  height: 23px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  color: white;
  background: #FFB400;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  line-height: 23px;
}

.card-task-title{
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
}

.title-description{
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;

}

.card-head{
  width:100%;
  display:flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between;
}

.banner-block-2 > *:not(:last-child) {
  margin-right: 10px;
  background-color: #FDF4E6;
  border: 1px solid #190041;
  border-radius: 6px;
}

.banner-block-2> :last-child{
  width: 62px;
  height:62px ;
  background-color: #171717;
  border-radius: 50%;
}

.sub-container{
  width:100%;
  display:flex;
  flex-direction: row;
}

.coloum{
  width:347px;
  height: 100%;
  margin-right: 16px;
}

.coloum > .add-more-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 30px;
  cursor: pointer;
}

.head{
  width: 100%;
  height: 65px;
  background-color: #FDF4E6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head > p {
  margin-left: 26.5px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  }


.head > div {
  margin-right: 26.5px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head > div > .count {
 border-radius: 20px;
 background-color: #190041;
 height: 28px;
 width: 40px;
 display: flex;
 font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  align-items: center;
  justify-content: center;
  color: #FFFBF5;
}

.dot{
  margin-left: 10px;
}

